apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vllm-models-moderation
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 30Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vllm-server-moderation
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vllm-moderation
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vllm-moderation
        workload-type: inference
    spec:
      nodeSelector:
        eks.amazonaws.com/nodegroup: gpu
      containers:
      - name: vllm-moderation
        image: vllm/vllm-openai:latest
        command: ["/bin/sh", "-c"]
        args: [
          "vllm serve ${MODERATION_MODEL} --dtype float16 --enforce-eager --max-model-len 4096 --port 8001 --gpu-memory-utilization 0.3"
        ]
        env:
        - name: MODERATION_MODEL
          value: "${MODERATION_MODEL}"
        - name: HUGGING_FACE_HUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: hf-token-secret
              key: token
        ports:
          - containerPort: 8001
        resources:
          limits:
            nvidia.com/gpu: 1
          requests:
            nvidia.com/gpu: 1
        volumeMounts:
          - name: llama-storage
            mountPath: /root/.cache/huggingface
      volumes:
      - name: llama-storage
        persistentVolumeClaim:
          claimName: vllm-models-moderation
---
apiVersion: v1
kind: Service
metadata:
  name: vllm-server-moderation
spec:
  selector:
    app.kubernetes.io/name: vllm-moderation
  ports:
  - protocol: TCP
    port: 8001
    targetPort: 8001
  type: ClusterIP
